body {
	margin: 40px;
}

.div {
	padding: 0;
	margin: 0;
}

h1 {
	padding: 0;
	margin: 0;
}

.banner {
	
}

.block {
	margin-bottom: 20px;
	padding: 40px;
}

.frameworks {
	background: #402033;
	color: white;
	
	font-family: 'Fira Sans', sans-serif;
}

.framework {
	padding-bottom: 30px;
	
	a {
		color: chocolate;
		text-decoration: none;
	}
}

.framework:last-child {
	padding-bottom: 0;
}

.feedback {
	background: #58362B;
	color: white;
	
	span {
		display: block;
		clear: both;
	}
	
	span:first-child {
		margin-bottom: 20px;
	}
	
	span:last-child {
		margin-top: 20px;
	}
	
	textarea {
		padding: 20px;
	}
}