.pretty {
	padding: 20px;
	margin: 40px;
}

.frameworks {
	background: #402033;
	color: white;
	padding: 20px;
	margin: 40px;
	
	font-family: 'Fira Sans', sans-serif;
}

.framework {
	padding: 20px;
	
	a {
		color: chocolate;
		text-decoration: none;
	}
}